# =========================
# dependencies
# =========================
node_modules/

# =========================
# env files (CRÍTICO)
# =========================
.env
.env.local
.env.* 
.env.example

# =========================
# build / output
# =========================
dist/
build/
.vite
dist-ssr

# =========================
# logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# typescript
# =========================
*.tsbuildinfo

# =========================
# vercel
# =========================
.vercel
.vercel_build_output

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/*
!.vscode/extensions.json
.idea/

# =========================
# misc
# =========================
coverage/
.tmp/
.cache/